@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Serif&family=Noto+Serif+Display:wght@100;200&family=Playfair+Display&family=Source+Serif+Pro:wght@300&display=swap");
/* Playfair Display, Noto serif, Source Serif Pro, Abril fat face */
/* font-family: 'Abril Fatface', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Serif Pro', serif; */

html {
  --text: #fff;
  --shadow: #d0cdee;
  --background: black;
  --font: "Playfair Display";
}
a:hover {
  color: var(--text);
  opacity: 1;
}

* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: var(--font);
  background-color: var(--background);
}

ul,
li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text);
}
a {
  text-decoration: none;
}
nav {
  opacity: 0.7;
}
p,
a {
  opacity: 0.7;
}

p,
a,
h1,
h2 {
  color: var(--text);
  font-weight: lighter;
}

img {
  height: 100%;
  display: block;
  width: 100%;
}
.nav-portfolie {
  position: absolute;
  top: 1%;
  right: 20%;
  font-size: 2vw;
}
.nav-ommig {
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 2vw;
}

.nav-forside {
  position: absolute;
  top: 1%;
  right: 36%;
  font-size: 2vw;
}
.box {
  margin-inline: 10%;
}
/* ----------- intro ---------*/
.container-intro {
  position: relative;
  margin-top: 100px;
  width: auto;
  height: 300px;
}

.intro {
  position: absolute;
  top: 25%;
  left: 5%;
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 0.15em;
  gap: 20px;
}
.navn {
  padding-left: 8%;
  font-size: 3vw;
  white-space: nowrap;
  background: transparent;
}

@media (max-width: 600px) {
  /*----- ringe ----*/

  .container-intro {
    position: relative;
    margin-top: 60px;
    width: auto;
    height: 200px;
  }
  .intro {
    position: absolute;
    top: 25%;
    left: 5%;
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: 0.15em;
    gap: 20px;
  }
  .navn {
    padding-left: 8%;
    font-size: 3vw;
  }
}

/* ---------- */
/*
  .oval-top {
    box-shadow: inset 0 0 1em var(--shadow), 0 0 1em var(--shadow);
  }
  .oval-bottom1 {
    box-shadow: inset 0 0 1em var(--shadow), 0 0 1em var(--shadow);
  }
  .oval-bottom2 {
    box-shadow: inset 0 0 1em var(--shadow), 0 0 1em var(--shadow);
  }

  */
