/* -------------- nav ------------ */
a {
  display: block;
  opacity: 0.7;
}

.nav-portfolie {
  position: absolute;
  top: 1%;
  right: 20%;
  font-size: 2vw;
}
.nav-ommig {
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 2vw;
}

.nav-forside {
  position: absolute;
  top: 1%;
  right: 36%;
  font-size: 2vw;
}

/* ------------ style --------- */

h1 {
  position: absolute;
  top: 25%;
  left: 5%;
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 0.15em;
}

h2 {
  position: absolute;
  top: 33%;
  left: 8%;
  text-transform: uppercase;
  font-size: 2.5vw;
}
